#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  <style>
.verticalhorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}
</style>